<footer>
    <div>
        <h2>Address</h2>
        <address>
            Rijselstraat 5, <br />
            8000 Brugge
        </address>
    </div>
    <p>All images courtesy of flaticon</p>
</footer>
